label {
	padding: 10px;
}
.dropImg {
	width: 30px;
	height: 30px;
	padding-left: 15px;
}

.savedTaskValue {
	font-size: 40px;
}

.linethrough {
	text-decoration: line-through;
	background-color: greenyellow;
}

body {
	background-image: url("../img/10.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

h2,
input {
	text-align: center;
}
